<section>

	<div class="palyer" *ngFor="let player of players" [style.background-color]="player.bgColor">
		{{player.name}} - {{player.id}}
		<br>
    {{player.getCashBalance()}}
		<br>
    {{player.role}}
		<br>
		<input #amountInput>
		<br>
		<button [disabled]="!game.getRoundStarted() || game.getCurrentPlayer().id != player.id || isCheckDisabled" (click)="onCheckClick(player)">Check</button>
		<button [disabled]="!game.getRoundStarted() || game.getCurrentPlayer().id != player.id" >
      Call<span *ngIf="true"> - </span>
    </button>
		<button [disabled]="!game.getRoundStarted() || game.getCurrentPlayer().id != player.id" (click)="onRaiseClick(amountInput)">Bet/Raise</button>
		<button [disabled]="!game.getRoundStarted() || game.getCurrentPlayer().id != player.id">Fold</button>
		<br>

		<button
    *ngIf="player.isHost" [disabled]="game.getRoundStarted()" (click)="onStartRoundClick()">
      Start Round
    </button>

		<button
    *ngIf="player.isHost" [disabled]="!game.getRoundStarted()" (click)="onEndRoundClick()">
      End Round
    </button>


	</div>

	<div class="pot">
		{{game.getTotalPotAmount()}}
	</div>

</section>